Source: ros-hydro-dynamixel-pro-controller
Section: misc
Priority: extra
Maintainer: Brian Axelrod <baxelrod.rosmaint@mit.edu>
Build-Depends: debhelper (>= 7.0.50~), libyaml-cpp-dev, ros-hydro-catkin, ros-hydro-dynamixel-pro-driver, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-dynamixel-pro-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libyaml-cpp-dev, ros-hydro-dynamixel-pro-driver, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-sensor-msgs
Description: The dynamixel_pro_controller package
